<!DOCTYPE html>
<html>
  <head>
    <title>Danfoss Solar <%= title %></title>
    <script type="text/javascript" src="/javascripts/external/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/external/highcharts/highcharts.js" defer></script>
    <script type="text/javascript" src="/javascripts/highchart_day.js" defer></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>
      <a href="<%= S.t_yesterday %>">&larr;</a> 
      <% if (S.t_tomorrow) { %><a href="<%= S.t_tomorrow %>">&rarr;</a> <% } %>
      Danfoss Solar <%= title %>
      # <%=S.DC_E[0]%> <small><%=S.DC_E_perc(0)%>%</small> <%=S.DC_E[1]%> <small><%=S.DC_E_perc(1)%>%</small> <%=S.DC_E[2]%> <small><%=S.DC_E_perc(2)%>%</small>  =
       <%var E = Math.round(1000*(S.DC_E_tot))/1000%>
       <%= E %>kWh
       η= <%=Math.round(S.E/E*10000)/100%>
       → <%=S.E%>kWh <%=(S.OK?'OK':'NOK')%> <%=S.OHM%>MΩ 
    </h2>
    <div id="all-highcharts">
      <div id="clickstats"></div>
      <div id="DC_P"></div>
      <div id="DC_rP"></div>
      <div id="DC_V"></div>
      <div id="DC_I"></div>
      <div id="EFF"></div>
      <div id="T"></div>
      <div id="F"></div>
    </div>
    <div id="report"></div>
    
    
    <script type="text/javascript">
      var S = <%- JSON.stringify(S) %>;
    </script>
  </body>
</html>
